@font-face {
    font-weight: 300;
    font-family: "Open Sans";
    font-style: normal;    
    src: local("Open Sans Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
    }
    
    @font-face {
    font-weight: 400;
    font-family: "Open Sans";
    font-style: normal;    
    src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
    }
    
    @font-face {
    font-weight: 300;
    font-family: "Gilroy";
    font-style: normal;    
    src: local("Gilroy-Light"), local("Gilroy Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
    }
    
    @font-face {
    font-weight: 800;
    font-family: "Gilroy";
    font-style: normal;    
    src: local("Gilroy-ExtraBold"), local("Gilroy ExtraBold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
    }
    
    body {
    margin: 0;
    padding: 0;      
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;    
    color: #000000;    
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000; 
}


.button { 
    width: 200px;    
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;    
    line-height: 40px;
    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;  
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(transparent 16px, #f4d361 16px, #f4d361 17px, #f0c52e 17px, #f0c52e 23px, #f4d361 23px, #f4d361 24px, transparent 24px);    border: none;
} 

.button:hover,
.button:focus {
    background-color: #f0c52e;
}
 
.button a:active {
    color: rgb(0, 0, 0, 0.3);
}