@font-face {
    font-weight: 300;
    font-family: "Open Sans";
    font-style: normal;    
    src: local("Open Sans Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
    }
    
    @font-face {
    font-weight: 400;
    font-family: "Open Sans";
    font-style: normal;    
    src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
    }
    
    @font-face {
    font-weight: 300;
    font-family: "Gilroy";
    font-style: normal;    
    src: local("Gilroy-Light"), local("Gilroy Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
    }
    
    @font-face {
    font-weight: 800;
    font-family: "Gilroy";
    font-style: normal;    
    src: local("Gilroy-ExtraBold"), local("Gilroy ExtraBold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
    }
    
    body {
    margin: 0;
    padding: 0;  
    max-width: 1160px;
    margin: 0px auto; 
    text-align: left;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;    
    color: #000000;    
    background-color: #ffffff;
    background-image:  url("../img/device-index.jpg");
    background-size: 1440px 2795px;
    background-position-x: 42px;
    background-repeat: no-repeat;

}

a {
    text-decoration: none;
    color: #000000; 
}

img {
    max-width: 100%;
    height: auto;
  }

.visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

ul,
li {
    list-style: none;

  }

.button { 
    width: 200px;    
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;    
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;  
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(transparent 16px, #f4d361 16px, #f4d361 17px, #f0c52e 17px, #f0c52e 23px, #f4d361 23px, #f4d361 24px, transparent 24px);    border: none;
} 

.button:hover,
.button:focus {
    background-color: #f0c52e;    
}

.button:active a {
    color: rgb(0, 0, 0, 0.3);    
}

.button_service {
    width: 200px;    
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;    
    line-height: 40px;    
    text-align: center;
    letter-spacing: 3px;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;  
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(transparent 16px, #f4d361 16px, #f4d361 17px, #f0c52e 17px, #f0c52e 23px, #f4d361 23px, #f4d361 24px, transparent 24px);    border: none;
}

.button_service:hover,
.button_service:focus {
    background-color: #f0c52e;
    outline: none;
}
 
.button_service a:active {
    color: #f7e184;
    padding-right: 78px;    
}

.button_service:active {    
    background-color: #000000;
    width: 278px;    
    color: #f7e184;    
    background-image: none;
}

.interaction:hover,
.interaction:focus {
    color: rgba(0, 0, 0, 0.6);
}
     
.interaction:active { color: rgba(0, 0, 0, 0.3);
}

.main_header_logo {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #000000;
    position: absolute;
    top: -8px;
    left: 60px;
}

.main_header_logo:hover,
.main_header_logo:focus {
    color: rgba(0, 0, 0, 0.6);
}
     
.main_header_logo:active {       
    color: rgba(0, 0, 0, 0.3);
}

.main_navigation {
    max-width: 1160px;   
    min-height: 299px;
    margin-top: 40px;
    background-color: rgba(240, 197, 46, 0.5); 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_header {
    width: 1040px;    
}

.wrapper_header/*,
.user-navigation*/ {   
    display: flex;
    justify-content: space-between; 
    align-items: center;      
}

.search_cite,
.user-navigation a {
    display: block;
}

.user-navigation {
    display: flex;
    width: 500px;
    justify-content: space-between;    
}

.user-navigation {
    position: relative;
}

.login-link a {
    padding-left: 30px;    
}

.login-link::before {
    content: "";  
    width: 16px;
    height: 18px;    
    position: absolute;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 2px;
  }
  
.search::before {
    padding-left: 30px;
}

.search::before {
    content: "";  
    width: 16px;
    height: 18px;   
    background-color: #ff0000; 
    position: absolute;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 2px;
  }
  
.nav_link_catalog>a {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px; 
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav {
    display: flex;
    padding-right: 20px;
}
.nav_list {
    width: 1040px;
}

.nav_list a {
    display: block;
}

.nav_list>li {
    position: relative;
    display: inline-block;
    float: right;
}

.nav_list>li:first-child {    
    float: left;    
}

.nav_list .dropdown {
    position: absolute;
    display: flex;
    max-width: 540px;
}
.dropdown a {
    display: none;
}

.nav_link_catalog:hover .dropdown a {
    display: block;
}

ul.dropdown {
    margin-left: -80px;  
}
.dropdown a {
    width: 190px;
}

.dropdown_one {
    margin-left: -80px;  
}



h3 {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px; 
}
   
    
.slogan {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 56px; 
}

th {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    font-size: 36px; 
    text-align: left;
    padding-bottom: 20px;
    padding-right: 70px;
}

th:nth-child(2) {
    padding-right: 90px;
}

td {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 13px; 
    text-align: left;
    padding-bottom: 20px;      
}


.menu_devices {
display: flex;

}
.menu_devices_all {
    position: relative;   
    width: 160px;
    height: 160px; 
    background-color:  rgba(240, 197, 46, 0.5);
}

.menu_devices_all:hover,
.menu_devices_all:focus,
.menu_devices_all:active {   
    width: 160px;
    height: 160px; 
    background-color:  rgba(240, 197, 46);     
}

.menu_interaction {   
    width: 160px;
    height: 160px;  
    position: absolute;
    top: 0;    
    background-position: center;    
    background-repeat: no-repeat;    
}

.monopods {
    background-position: center bottom;
}

.menu_interaction:active {   
    width: 160px;
    height: 160px;    
    background-image: url("../img/popular_VR_1.svg");
    opacity: 0.5; 
    background-position: center;    
    background-repeat: no-repeat;    
}

.virtual_reality {
    background-image: url("../img/popular_VR_1.svg");
}
.monopods {
    background-image: url("../img/popular_MP_2.svg");
}
.action_cameras {
    background-image: url("../img/popular_EC_3.svg");
}
.fitness_wristbands {
    background-image: url("../img/popular_FB_4.svg");
}
.smartwatch {
    background-image: url("../img/popular_SW_5.svg");
}
.quadcopters {
    background-image: url("../img/popular-Q_6.svg");
}

.transport_company li{
    list-style-type: circle; 
}

.transport_company {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
}

.main_footer_logo {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: rgba(255, 190, 0)
}

.main_footer_logo:hover,
.main_footer_logo:focus {
    color: rgba(255, 190, 0, 0.6);
}
     
.main_footer_logo:active {       
    color: rgba(255, 190, 0, 0.3);
}


.footer-social li {
    width: 50px;
    height: 50px;    
    background-repeat: no-repeat;    
}

.footer-social li:first-child {
    width: 50px;
    height: 50px;    
    background-image: url("../img/face.svg");
    background-repeat: no-repeat;    
}

.footer-social li:nth-child(2) {
    width: 50px;
    height: 50px;    
    background-image: url("../img/instagram_color.svg");
    background-repeat: no-repeat;    
}

.footer-social li:last-child {
    width: 50px;
    height: 50px;    
    background-image: url("../img/twitter_color.svg");
    background-repeat: no-repeat;    
}

.menu_service a,
fieldset legend {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;   
    text-transform: uppercase;
}

.write_to_us p {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #000000;

}
.write_to_us input[type="text"],
.write_to_us input[type="email"],
.write_to_us textarea {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(229, 229, 229); 
    border: none;
    padding-left: 20px;
}

/*page2*/

.breadcrumbs a,
.sort li {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;    
    color: rgba(0, 0, 0, 0.3);    
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.sort li:hover,
.sort li:focus {   
    color: rgba(0, 0, 0, 0.6);      
}

.breadcrumbs a:active {    
    color: rgba(0, 0, 0, 0.1);   
}

.sort li:active {    
    color: rgba(0, 0, 0, 0.1);   
}

.catalog-item-image {
    position: relative;
}

.basket_compare {
    position: absolute;
    top: 0;
    left: 0;
}

.catalog-item-image img:hover,
.catalog-item-image img:focus {
    opacity: 0.5;
}

.add_to_compare a{
    color: rgba(0, 0, 0, 0.5);
}

.add_to_compare a:hover {
    color: rgba(0, 0, 0);
}

.add_to_compare a:active {
    color: rgba(0, 0, 0, 0.2);
}

.filter {s
    margin: 0;
    padding: 0;
}

.filter-option {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.cost {
    color: rgba(70, 70, 70) 
}



